Report/
Result Images/
runs/
Tiled Annotations/
Old/
Prediction Results/
Images/
Image Annotations/
Dataset_train/
GOOD_Dataset/
/yolov8l.pt
/yolov8m.pt
/yolov8n.pt
/yolov8s.pt
/yolov8x.pt
/yolo11n.pt